* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nvigation {
    height: 40px;
    display: block;
}

.nav-list {
    color: white;
    margin: 0;
    line-height: 250%;
    display: flex;
}

.nav-item {
    margin-left: 16px;
    display: block;
}

.content {
    background-color: beige;
    height: 5000px;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ear_right {
    width: 40px;
    height: 60px;
    background-color: brown;
    position: absolute;
    top: -60px;
    left: -40px ;
}

.ear_left {
    width: 40px;
    height: 60px;
    background-color: brown;
    position: absolute;
    top: -60px;
    left: 200px;
}

.eye_left {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 80px;
    margin-right: 60px;
    float: right;
}

.eye_right {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 80px;
    margin-right: 40px;
    float: right;
}

