.image-container {
    display: flex;
    position: relative;
    justify-content: center;
}

.image {
    max-width: 100%;
}

.image-button {
    display: block;
    text-align: center;
    line-height: 49px;
    position: absolute;
    top: calc(42%);
    width: 200px;
    height: 51px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
}

.image-button:hover {
    opacity: 1;
}