.image-container {
    display: flex;
    position: relative;
    justify-content: center;
}

.image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.image-button {
    display: flex;
    justify-content: center;
    line-height: 49px;
    position: absolute;
    top: calc(42.5%);
    width: 200px;
    height: 50px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
}

.image-button:hover {
    opacity: 1;
}